:host {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > svg {
    margin-right: 12px;
    height: 12px;
    width: 12px;
    flex-shrink: 0;
  }

  .tags {
    font-size: 14px;
    font-weight: 500;
    min-height: 38px;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;

    .tag {
      margin-right: 8px;
      margin-top: 4px;
      margin-bottom: 4px;

      &:not(:last-of-type):after {
        content: '|';
        margin-left: 8px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;

    & > svg {
      display: none;
    }

    .tags {
      margin: 8px 0;
      justify-content: center;

      .tag {
        margin: 4px 8px;
      }
    }
  }
}
