:host {
  margin-top: 64px;
  width: 60%;
  padding-left: 48px;
  box-sizing: border-box;

  ul {
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 24px;

    h3 {
      font-weight: 500;
      font-size: 16px;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 14px;
      margin-top: 8px;
      line-height: 18px;
      color: var(--text-color-secondary, #555d64);
    }
  }

  span {
    font-size: 14px;
    color: var(--text-color-secondary, #555d64);
    margin-top: 2px;
    text-wrap: nowrap;
  }
}