:host {
	// padding: 36px 24px 28px;
	// background-color: #eaecf5;
	// max-width: 505px;
	// margin: 24px;
	// border-radius: 8px;
	// box-shadow: 0 1px 3px rgba(16, 16, 39, 0.12), 0 1px 2px rgba(27, 32, 58, 0.24);
	// display: flex;
	// flex-direction: column;
	// box-sizing: border-box;
	padding: 28px;
	background-color: #f7f9ff;
	margin: 16px;
	border-radius: 8px;
	// box-shadow: 0 1px 3px rgba(16, 16, 39, 0.12), 0 1px 2px rgba(27, 32, 58, 0.24);
  border: 1px solid #d0d5dd;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	min-width: 300px;
	max-width: 46%;
	margin: 16px;

	@media  (min-width: 500px) {
		margin: 16px;
	}

	h1 {
		margin: 18px 0 0;
		font-size: 20px;
		font-weight: 500;
	}

	h2 {
		margin: 5px 0 0;
		font-size: 14px;
		font-weight: 500;
	}

	p {
		margin: 18px 0;
		font-size: 14px;
		line-height: 24px;
		flex-grow: 1;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			height: 48px;
			align-self: center;
		}

		div.freelance {
			font-style: italic;
		}

		.date-container {
			margin-left: 24px;
			display: flex;
			flex-direction: row;
			align-items: center;

			svg {
				flex-shrink: 0;
				margin-right: 12px;
				width: 13px;
				height: 19px;
			}

			.date {
				display: flex;
				flex-direction: column;
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;

				p {
					margin: 0;
				}
			}
		}
	}
}

// Outline latest employment
:host(:first-of-type) {
	outline: 2px solid #410088;
	outline-offset: 6px;
}
